.squad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    margin-top: 10px;
}

